---
import { Image } from 'astro:assets';
import questionMark from "../assets/questionMark.svg"
import questionMarkInverse from "../assets/questionMarkInverse.svg"
const {
  questionOne, questionTwo, questionThree, questionFour,
  answerOne, answerTwo, answerThree, answerFour
} = Astro.props;
---

<section class="py-16 px-4 bg-white">
  <h3 class="text-3xl sm:text-4xl text-center font-semibold text-[#007dfc] mb-4">Frequently Asked Questions</h3>
  <p class="text-xl sm:text-2xl text-center font-medium text-gray-700 mb-12">
    Questions commonly answered by our team of AC technicians.
  </p>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-7xl mx-auto">
    <!-- FAQ Card -->
    <article class="group bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition duration-300 hover:bg-[#007dfc] min-h-[250px] text-center border-blue-500 border-2">
      <div class="flex justify-center mb-4 relative">
        <Image src={questionMark} alt="AC icon" class="w-16 group-hover:hidden" loading="eager" />
        <Image src={questionMarkInverse} alt="AC icon inverse" class="w-16 hidden group-hover:block" />
      </div>
      <h3 class="text-xl font-semibold text-gray-800 group-hover:text-white mb-2">{questionOne}</h3>
      <p class="text-gray-600 group-hover:text-white">{answerOne}</p>
    </article>

    <article class="group bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition duration-300 hover:bg-[#007dfc] min-h-[250px] text-center border-blue-500 border-2">
      <div class="flex justify-center mb-4 relative">
        <Image src={questionMark} alt="AC icon" class="w-16 group-hover:hidden" loading="eager" />
        <Image src={questionMarkInverse} alt="AC icon inverse" class="w-16 hidden group-hover:block" />
      </div>
      <h3 class="text-xl font-semibold text-gray-800 group-hover:text-white mb-2">{questionTwo}</h3>
      <p class="text-gray-600 group-hover:text-white">{answerTwo}</p>
    </article>

    <article class="group bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition duration-300 hover:bg-[#007dfc] min-h-[250px] text-center border-blue-500 border-2">
      <div class="flex justify-center mb-4 relative">
        <Image src={questionMark} alt="AC icon" class="w-16 group-hover:hidden" loading="eager" />
        <Image src={questionMarkInverse} alt="AC icon inverse" class="w-16 hidden group-hover:block" />
      </div>
      <h3 class="text-xl font-semibold text-gray-800 group-hover:text-white mb-2">{questionThree}</h3>
      <p class="text-gray-600 group-hover:text-white">{answerThree}</p>
    </article>
  </div>

  <div class="flex justify-center mt-12">
    <a href="tel:111-222-3333" class="bg-[#007dfc] hover:bg-[#007efcd3] text-white text-lg font-semibold py-4 px-8 rounded-lg transition">
      Call Now: 111-222-3333
    </a>
  </div>
</section>
