---
const { HeaderOne, City, State, ParaOne, HeaderTwo, ParaTwo, LinkOne, LinkTwo } = Astro.props
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-8 px-4 md:px-20 mx-auto my-10">

  <!-- Text Content -->
  <div class="order-1 md:order-1 space-y-12">
    
    <!-- Section 1 -->
    <section>
      <h2 class="text-4xl text-[#08439d] font-bold text-left mb-4">{HeaderOne} in {City}, {State}</h2>
      <p class="text-xl leading-relaxed text-gray-700">
        {ParaOne}
      </p>
    </section>

    <!-- Section 2 -->
    <section>
      <h2 class="text-4xl text-[#08439d] font-bold text-left mb-4">{HeaderTwo} in {City}, {State}</h2>
      <p class="text-xl leading-relaxed text-gray-700">
        {ParaTwo}
      </p>
    </section>

  </div>

  <!-- Form -->
  <div class="order-2 md:order-2 flex justify-center">
    <script async src="https://online-booking.housecallpro.com/script.js?token=e04a9346c2b64d92b5b0e60598d17b63&orgName=Farrell-Air-Conditioning"> </script> <iframe style="background-color: white;" id="hcp-lead-iframe" src="https://book.housecallpro.com/lead-form/Farrell-Air-Conditioning/e04a9346c2b64d92b5b0e60598d17b63"></iframe> <!--End of Housecallpro Lead Capture code-->
  
  </div>
</div>
