---
import { Image } from 'astro:assets';
import AcRepairIcon from "../assets/acicon.png"
import AcRepairInverse from "../assets/aciconwhite.png"
---


<section class="bg-[#E3F2FD]">
    <h3 class="flex justify-center text-center font-semibold text-5xl mb-5 mt-5 text-[#007dfc]">Our HVAC Services</h3>
    <p class="flex justify-center font-medium text-center text-2xl mb-10">Our company is a full-service heating, ventilation, and air conditioning company.</p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-[20%_20%_20%] gap-16 justify-center">
        <article class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition duration-600 hover:bg-[#007dfc] hover-child h-[250px] card">
            <Image src={AcRepairInverse} alt="AC repair icon inverse color" class="w-25 mx-auto whiteicon"/>
            <Image src={AcRepairIcon} alt="AC repair icon" class="w-25 mx-auto hover-img" loading="eager"/>
            <h3 class="text-xl font-semibold text-gray-800 mb-2 text-center">AC Repair & Installation</h3>
            <p class="text-gray-600 text-center">Fast, professional air conditioning services.</p>
            
        </article>
        <article class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition duration-600 hover:bg-[#007dfc] hover-child h-[250px] card">
            <Image src={AcRepairInverse} alt="AC repair icon inverse color" class="w-25 mx-auto whiteicon" loading="lazy"/>
            <Image src={AcRepairIcon} alt="AC repair icon" class="w-25 mx-auto hover-img" loading="eager"/>
            <h3 class="text-xl font-semibold text-gray-800 mb-2 text-center">Furnace & Heater Services</h3>
            <p class="text-gray-600 text-center">Expert heating system repairs and replacements.</p>
        </article>
        <article class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition duration-600 hover:bg-[#007dfc] hover-child h-[250px] card">
            <Image src={AcRepairInverse} alt="AC repair icon inverse color" class="w-25 mx-auto whiteicon" loading="lazy"/>
            <Image src={AcRepairIcon} alt="AC repair icon" class="w-25 mx-auto hover-img" loading="eager"/>
            <h3 class="text-xl font-semibold text-gray-800 mb-2 text-center">Indoor Air Quality Solutions</h3>
            <p class="text-gray-600 text-center">Improve air filtration and reduce allergens.</p>
           </article>
        <article class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition duration-600 hover:bg-[#007dfc] hover-child h-[250px] card">
            <Image src={AcRepairInverse} alt="AC repair icon inverse color" class="w-25 mx-auto whiteicon" loading="lazy"/>
            <Image src={AcRepairIcon} alt="AC repair icon" class="w-25 mx-auto hover-img" loading="eager"/>
           <h3 class="text-xl font-semibold text-gray-800 mb-2 text-center">HVAC Maintenance & Tune-Ups</h3>
           <p class="text-gray-600 text-center">Prevent costly repairs with routine HVAC maintenance.</p>
          </article>
        <article class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition duration-600 hover:bg-[#007dfc] hover-child h-[250px] card">
            <Image src={AcRepairInverse} alt="AC repair icon inverse color" class="w-25 mx-auto whiteicon" loading="lazy"/>
            <Image src={AcRepairIcon} alt="AC repair icon" class="w-25 mx-auto hover-img" loading="eager"/>
           <h3 class="text-xl font-semibold text-gray-800 mb-2 text-center">Smart Thermostat Installation</h3>
           <p class="text-gray-600 text-center">Upgrade to a smart HVAC system & lower energy bills.</p>
        </article>
        <article class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition duration-600 hover:bg-[#007dfc] hover-child h-[250px] card">
            <Image src={AcRepairInverse} alt="AC repair icon inverse color" class="w-25 mx-auto whiteicon " loading="lazy"/>
            <Image src={AcRepairIcon} alt="AC repair icon" class="w-25 mx-auto hover-img " loading="eager"/>
           <h3 class="text-xl font-semibold text-gray-800 mb-2 text-center">Residential & Commercial Services</h3>
           <p class="text-gray-600 text-center">We offer HVAC solutions for your home and buisness.</p>
          </article>
           </div>
           <a class="text-white justify-center align-center text-3xl text-md md:text-md font-semibold w-full sm:w-full md:w-1/4 lg:w-1/5 mt-10 lg:text-3xl flex items-center pr-1 pl-1 gap-x-1 mx-auto mb-0  bg-[#007dfc] hover:bg-[#007efcd3] hover:cursor-pointer h-16 rounded-lg">Call Now: 111-222-3333</a>
    </section>


<style>
    .hover-child:hover > * {
        color: white;
    }

    .hover-child:hover .hover-img {
        display: none
    }

    .hover-child:hover .whiteicon {
        display: block;
    }
    
    .whiteicon {
        display: none;
    }
.card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
}
 
</style>